# Python
__pycache__/
*.pyc
*.pyo

# Django migrations
*/migrations/

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Database
db.sqlite3

# claude
.claude/

#media
media